html {
  font-size: 100%;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

.fa-utensils {
  margin-right: 6px;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  height: 3rem;
  width: 13rem;
  text-decoration: none;
  border: none;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to left top, #9356dc, #ff79da);
  color: white;
  border-radius: 2rem;
  font-weight: bold;
  -webkit-box-shadow: 0 0.3rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.3rem 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 0.2rem 0.4rem 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0.2rem 0.4rem 10px rgba(0, 0, 0, 0.4);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.btn__command {
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 3rem;
  font-size: 16px;
  height: 3.6rem;
  width: 215px;
  margin-left: 4rem;
}

@media screen and (max-width: 360px) {
  .btn__command {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 320px) {
  .btn__command {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .btn__command {
    margin-left: 8rem;
  }
}

.menu__carte {
  background: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 345px;
  margin-bottom: 1rem;
  -webkit-animation: slideup 1s ease both;
          animation: slideup 1s ease both;
}

@-webkit-keyframes slideup {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideup {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 360px) {
  .menu__carte {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .menu__carte {
    width: 270px;
  }
}

.menu__carte .menu__carte__txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: .5rem;
  min-width: 0;
}

.menu__carte .menu__carte__txt h3 {
  font-size: 18px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__carte .menu__carte__txt p {
  color: rgba(0, 0, 0, 0.76);
  font-size: 16px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__carte .menu__prix {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: .2rem;
  padding-right: 1rem;
  font-weight: bold;
}

/**Carte check**/
.menu__carte:hover .menu__carte__check {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin-left: 50px;
}

.menu__carte:hover .menu__carte__check i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.menu__carte__check {
  width: 65px;
  background: #99e2d0;
  font-size: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -60px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu__carte__check i {
  -webkit-transform: rotate(260deg);
          transform: rotate(260deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.fa-heart.fas {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: popin 0.5s ease both;
          animation: popin 0.5s ease both;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  z-index: 1;
}

.fa-heart.far:hover ~ .fa-heart.fas, .fa-heart.fas:hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes popin {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
}

@keyframes popin {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-animation: fadeout-loader 1s linear forwards 2.5s;
  animation: fadeout-loader 1s ease-in-out forwards 2.5s;
  pointer-events: none;
  opacity: 0.90;
  z-index: 2;
}

@keyframes fadeout-loader {
  0% {
    opacity: 0.90;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout-loader {
  0% {
    opacity: 0.90;
  }
  100% {
    opacity: 0;
  }
}

.spinloader {
  border: 10px solid transparent;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #ff79da;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.spinloader2 {
  border: 10px solid transparent;
  border-left: 10px solid #99e2d0;
  border-right: 10px solid #99e2d0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: spin 3s reverse 5;
  animation: spin 3s reverse 5;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background: transparent;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background: transparent;
  }
}

.menu__carte.menu__anim__delay-1 {
  -webkit-animation-delay: calc(0.1s * 1);
          animation-delay: calc(0.1s * 1);
}

.menu__carte.menu__anim__delay-2 {
  -webkit-animation-delay: calc(0.1s * 2);
          animation-delay: calc(0.1s * 2);
}

.menu__carte.menu__anim__delay-3 {
  -webkit-animation-delay: calc(0.1s * 3);
          animation-delay: calc(0.1s * 3);
}

.palette__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 11rem;
  background-position-y: -3.9rem;
  border-radius: 20px 20px 0 0;
  background-image: url("../images/restaurants/palettegout.jpg");
}

.note__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 11rem;
  background-position-y: -10.1rem;
  border-radius: 20px 20px 0 0;
  background-image: url("../images/restaurants/noteenchantee.jpg");
}

.francaise__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 11rem;
  background-position-y: -3.6rem;
  border-radius: 20px 20px 0 0;
  background-image: url("../images/restaurants/francaise.jpg");
}

.delice__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 11rem;
  background-position-y: -4rem;
  border-radius: 20px 20px 0 0;
  background-image: url("../images/restaurants/delice.jpg");
}

.img__restaurant {
  width: 100%;
  height: auto;
  max-height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

footer {
  padding-bottom: 1.5rem;
  background-color: rgba(0, 0, 0, 0.651);
}

footer ul {
  color: white;
  line-height: 1.5rem;
  padding: 0;
  margin-left: 1.5rem;
}

footer ul i {
  padding-right: 1rem;
  font-size: .8rem;
}

footer a {
  text-decoration: none;
  color: white;
}

.footer__logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 6.5rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

header {
  -webkit-box-shadow: 0 2px 5px 1px #ccc;
          box-shadow: 0 2px 5px 1px #ccc;
  position: relative;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 10rem;
  margin-top: 1.2rem;
  padding-bottom: 1.2rem;
}

#header__restaurant {
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header__restaurant a {
  position: absolute;
  left: 1%;
  padding-left: 1.5rem;
  font-size: 1.4rem;
  color: black;
}

#header__restaurant .logo {
  margin-left: 0;
}

/** Restaurants - Accueil **/
main {
  background-color: rgba(206, 201, 201, 0.301);
}

main .restaurant {
  margin: 1rem;
}

.restaurant__titre {
  margin-left: 1rem;
}

@media screen and (min-width: 700px) {
  .restaurant__titre {
    margin-left: 0;
  }
}

.restaurant__card {
  border-radius: 20px;
  margin-bottom: 1.5rem;
  margin-right: .5rem;
  -webkit-box-shadow: 0px 3px 5px 5px #dbdbdb;
          box-shadow: 0px 3px 5px 5px #dbdbdb;
  position: relative;
  display: block;
}

.restaurant__card--new::before {
  content: "Nouveau";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 18px;
  top: 7px;
  width: 82px;
  height: 30px;
  border-radius: 3px;
  background: #99e2d0;
  color: #2c9c81;
  font-weight: bold;
  font-size: 14px;
}

.restaurant__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
}

.restaurant__description h2 {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 1rem;
  margin-top: .8rem;
  font-size: 1.1rem;
}

.restaurant__description p {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-top: 0;
  margin-left: 1rem;
  line-height: .1rem;
  margin-bottom: 1.7rem;
}

.restaurant__description i {
  -ms-grid-column: 2;
  grid-column: 2;
  color: rgba(31, 30, 30, 0.705);
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

/** Tablette **/
@media screen and (min-width: 700px) and (max-width: 1200px) {
  /**Index**/
  .accueil .site-description {
    background: white;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .accueil .site-description h1 {
    padding-top: 6rem;
  }
  .accueil .site-description p {
    margin: 3rem;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
  }
  .accueil__fonctionnement {
    margin-top: 2rem;
  }
  #restaurant {
    display: -ms-grid;
    display: grid;
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  #restaurant .grid__palette {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  #restaurant .grid__note {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  #restaurant .grid__francaise {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  #restaurant .grid__delice {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .restaurant__titre {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
  }
  /**Page menu **/
  .menu {
    margin-left: 20%;
    margin-right: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu h1 {
    text-align: center;
  }
  .menu__carte {
    max-width: 400px;
    width: 400px;
  }
  .btn__command {
    margin-left: 5.7rem;
  }
  /**footer**/
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }
  footer .footer__logo {
    margin-left: 5rem;
    width: 15rem;
    padding-right: 5rem;
  }
  footer ul {
    margin-left: 0;
    padding-right: 5rem;
  }
}

/**Desktop**/
@media screen and (min-width: 1200px) {
  /**Index**/
  .accueil__texte {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-description {
    background-color: white;
  }
  .restaurant__titre {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
  }
  #restaurant {
    display: -ms-grid;
    display: grid;
        grid-template-columns: repeat(2, 1fr);
    margin-right: 7rem;
    margin-left: 7rem;
    grid-gap: 10%;
    padding-bottom: 3rem;
  }
  /**menu**/
  .menu h1 {
    width: 100%;
    text-align: center;
  }
  .menu__carte {
    width: 460px;
  }
}

.accueil .localisation {
  background-color: rgba(231, 231, 231, 0.932);
}

.accueil .localisation__box {
  text-align: center;
  padding-left: 4rem;
}

.accueil .localisation input {
  font-weight: bold;
  background: transparent;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.accueil .localisation i {
  display: inline-block;
  font-size: 20px;
  padding-right: 1rem;
  padding-bottom: .3rem;
}

h1 {
  font-size: 1.4rem;
}

.accueil__fonctionnement {
  margin-left: 1rem;
}

.site-description {
  background-color: #eaeaea7e;
  text-align: center;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 992px) {
  .site-description {
    background-color: white;
    width: auto;
  }
}

.site-description h1 {
  margin: 0;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.site-description p {
  margin-bottom: 2.5rem;
}

.accueil__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 700px) and (max-width: 992px) {
  .accueil__texte {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .accueil__texte {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: white;
  }
}

.fonctionnement__explications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.fonctionnement__explications i {
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
  font-size: 1.1rem;
}

.fonctionnement__explications p {
  font-weight: 600;
  font-size: 15px;
  padding-left: 20px;
}

.explications__carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 310px;
  height: 70px;
  margin-bottom: 25px;
  border-radius: 24px;
  -webkit-box-shadow: 0.25rem 0.25rem 10px #e4e4e4;
          box-shadow: 0.25rem 0.25rem 10px #e4e4e4;
  background: white;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.explications__carte::after, .explications__carte::before {
  margin: 0;
  padding: 0;
}

.explications__carte i {
  width: 20px;
  margin: 0 20px 0 25px;
  text-align: center;
}

.explications__carte:hover {
  background-color: #b382ee2f;
  cursor: pointer;
}

.explications__carte:hover i {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  color: #9356dc;
}

.liste__nbr {
  margin-right: 10px;
  color: white;
  background-color: #9356dc;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
}

.menu {
  padding: 0 4% 0 4%;
  border-radius: 2rem 2rem 0 0;
  margin-top: -3rem;
  padding-top: 1rem;
  position: relative;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .fa-heart {
  position: absolute;
  right: 10%;
  top: 2.9%;
  font-size: 1.6rem;
  color: grey;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .menu .fa-heart {
    right: 35%;
    top: 3.8%;
  }
}

@media screen and (min-width: 1500px) {
  .menu .fa-heart {
    top: 6%;
  }
}

.menu h1 {
  font-family: 'Shrikhand', sans-serif;
  font-size: 27px;
  font-weight: 300;
  width: 100%;
}

.menu h2 {
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  color: rgba(39, 39, 39, 0.753);
  padding-bottom: .5rem;
  font-weight: normal;
}

.menu h2::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 2.9rem;
  bottom: 0;
  left: 0;
  background: #99e2d0;
}

.menu a {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 3rem;
}

@media screen and (min-width: 1200px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.menu__carte {
  -webkit-box-shadow: 0px 3px 5px 5px #dbdbdb;
          box-shadow: 0px 3px 5px 5px #dbdbdb;
}
/*# sourceMappingURL=main.css.map */