header {
    box-shadow: 0 2px 5px 1px #ccc;
    position: relative;
    z-index: 1;
    width: 100%;
    @include flex-center;

}

.logo {
    width: 13rem;
    margin-top: 1.2rem;
    padding-bottom: 1.2rem;
}

#header__restaurant {
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        padding-left: 1.5rem;
        font-size: 1.2rem;
        color: black;
    }

    .logo {
        padding-right: 5.5rem;
        margin-left: 0;
    }
}
