header {
    box-shadow: 0 2px 5px 1px #ccc;
    position: relative;
    z-index: 1;
    width: 100%;
    @include flex-center;
}

.logo {
    width: 10rem;
    margin-top: 1.2rem;
    padding-bottom: 1.2rem;
}

#header__restaurant {
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        position: absolute;
        left: 1%;
        padding-left: 1.5rem;
        font-size: 1.4rem;
        color: black;
    }

    .logo {
        margin-left: 0;
    }
}
