/** Tablette **/ 
    
@media screen and (min-width: 700px) and (max-width: 992px) {

    /**Index**/

    .accueil {
        display:grid;
        grid-template-columns: repeat(2, 3fr);
        grid-template-rows: 1fr 7fr;

        .localisation {
            grid-row: 1;
            grid-column: 1 / 3;
        }

        .site-description {
            background: white;
            grid-row: 2;
            grid-column: 2;

            h1 {
                padding-top: 6rem;
            }

            p {
                margin: 3rem;
                margin-top: 1.7rem;
                margin-bottom: 1.7rem;
            }
        }

        .fonctionnement {
            grid-row: 2;
            grid-column: 1;
        }

        &__fonctionnement {
            margin-top: 2rem;
        }
    }
 
    .liste__nbr {
        left: 35rem;
    }

    #restaurant {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 5fr 5fr;
        gap: 20px;

        .grid__palette {
            grid-row: 2;
            grid-column: 1;
        }

        .grid__note{
            grid-row: 2;
            grid-column: 2;
        }

        .grid__francaise {
            grid-row: 3;
            grid-column: 1;
        }

        .grid__delice {
            grid-row: 3;
            grid-column: 2;
        }
    }

    /**Page menu **/

    .menu {
        margin-left: 20%;
        margin-right: 20%;
        justify-content: center;
        align-items: center;

        &__carte {
            max-width: 400px;
            width: 400px;
        }
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 0;

        .footer__logo {
            margin-left: 5rem;
            width: 15rem;
            padding-right: 5rem;
        }

        ul {
            margin-left: 0;
            padding-right: 5rem;
        }
    }
}