/** Tablette **/ 
    
@media screen and (min-width: 700px) and (max-width: 1200px) {

    /**Index**/

    .accueil {
 
        .site-description {
            background: white;
            grid-row: 2;
            grid-column: 2;

            h1 {
                padding-top: 6rem;
            }

            p {
                margin: 3rem;
                margin-top: 1.7rem;
                margin-bottom: 1.7rem;
            }
        }

        &__fonctionnement {
            margin-top: 2rem;
        }
    }

    #restaurant {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .grid__palette {
            grid-row: 2;
            grid-column: 1;
        }

        .grid__note{
            grid-row: 2;
            grid-column: 2;
        }

        .grid__francaise {
            grid-row: 3;
            grid-column: 1;
        }

        .grid__delice {
            grid-row: 3;
            grid-column: 2;
        }
    }

    .restaurant__titre {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        text-align: center;
    }

    /**Page menu **/

    .menu {
        margin-left: 20%;
        margin-right: 20%;
        justify-content: center;
        align-items: center;

        &__carte {
            max-width: 400px;
            width: 400px;
        }
    }

    /**footer**/

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 0;

        .footer__logo {
            margin-left: 5rem;
            width: 15rem;
            padding-right: 5rem;
        }

        ul {
            margin-left: 0;
            padding-right: 5rem;
        }
    }
}

/**Desktop**/

@media screen and (min-width: 1200px) {
    

    /**Index**/


    .accueil__texte {
        flex-direction: row;
    }

    .site-description {
        background-color: white;
    }

    .liste__nbr{
        left: 60%;
    }

    .restaurant__titre {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        text-align: center;
    }

    #restaurant {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-right: 7rem;
        margin-left: 7rem;
        grid-gap: 10%;
        padding-bottom: 3rem;
    }

    /**menu**/

    .menu__titre {
        width: 100%;
        text-align: center;
    }

    .menu .fa-heart {
        right: 35%;
        top: 6%;
    }

    .menu__carte {
        width: 460px;
    }
}
