.menu__carte {
    background: white;
    border-radius: 20px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    justify-content: space-between;
    width: 345px;
    margin-bottom: 1rem;
    animation: slideup 1s ease both;

    @keyframes slideup {
        0% { transform: translateY(20px); opacity: 0;}
        100% { transform: translateY(0); opacity: 1;}
    }

    @media screen and (max-width:360px) {
        width: 300px;
    }

    @media screen and (max-width:320px) {
        width: 270px;
    }

    .menu__carte__txt {
        flex: 1;
        padding-left: .5rem;
        min-width: 0;

        h3 {
            font-size: 18px;
            margin-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            color: rgba(0, 0, 0, 0.76);
            font-size: 16px;
            margin-top: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .menu__prix {
        align-self: flex-end;
        margin-right: .2rem;
        padding-right: 1rem;
        font-weight: bold;
    }

}

/**Carte check**/

.menu__carte:hover .menu__carte__check {
    transform: translateX(-60px);
    transition: 0.5s ease-in-out;
    margin-left: 50px;

    i {
        transform: rotate(0deg);
        transition: 0.7s ease;
    }
}

.menu__carte__check {
    width: 65px;
    background: $color-tertiary;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -60px;
    transition: all 0.5s ease;
    transform: translateX(60px);
    transition-duration: 0.5s;

    i {
        transform: rotate(260deg);
        transition: 0.5s ease;
    }
    
}


 
  