.accueil {
    .localisation {
        background-color: rgba(231, 231, 231, 0.932);

        &__box {
            text-align: center;
            padding-left: 4rem;
        }

        input {
            font-weight: bold;
            background: transparent;
            border: none;
            padding-top: 15px;
            padding-bottom: 15px;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
        }

        i{
            display: inline-block;
            font-size: 20px;
            padding-right: 1rem;
            padding-bottom: .3rem;
        }
    }
}

h1 {
    font-size: 1.4rem;
}

.accueil__fonctionnement {
    margin-left: 1rem;
}

.site-description {
    background-color: #eaeaea7e;
    text-align: center;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 3rem;

    @media screen and (min-width: 992px) {
        background-color: white;
        width: auto;
    }

    h1 {
        margin: 0;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    p {
        margin-bottom: 2.5rem;
    }
}

.accueil__texte {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (min-width: 700px) and (max-width: 992px) {
        flex-direction: row;
    }

    @media screen and (min-width: 992px) {
        flex-direction: row;
        background-color: white;
    }
}

.fonctionnement__explications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

    i {
        filter: opacity(50%);
        font-size: 1.1rem;
    }

    p {
        font-weight: 600;
        font-size: 15px;
        padding-left: 20px;
    }
}

.explications__carte {
    display: flex;
    align-items: center;
    position: relative;
    width: 310px;
    height: 70px;
    margin-bottom: 25px;
    border-radius: 24px;
    box-shadow: 0.25rem 0.25rem 10px #e4e4e4;
    background: white;
    cursor: pointer;
    transition: all 0.25s ease;

    &::after, &::before {
        margin: 0;
        padding: 0
    }

    i {
        width: 20px;
        margin: 0 20px 0 25px;
        text-align: center;
    }

    &:hover {
        background-color: #b382ee2f;
        cursor: pointer;
    }
}

.explications__carte:hover i {
    filter: opacity(100%);
    color: $color-primary;
}

.liste__nbr{
    margin-right: 10px;
    color: white;
    background-color: $color-primary;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
}

