@mixin carte-menu {
    box-shadow: 0px 3px 5px 5px #dbdbdb;
}

@mixin accueil__restaurant__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 11rem;
}

@mixin img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 15rem;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}